* {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.rep-list {
    color: #fff;
    margin-top: 1em;
    background-color: rgba(255, 4, 255, 0.3);
    background: linear-gradient(black, rgba(255,4,255,0.3));
    height: 75vh;
    width: 90vw;
    margin: 0 auto;
    margin-top: 1em;
    border: 2px solid white;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    object-fit: contain;
    overflow: scroll;
    overflow-x: hidden;
}

.rep-list > * {
    background-color: transparent;
    
}

.section-header {
    display: flex;
    align-items: baseline;
}

.section-header > * {
    background-color: transparent;
    flex-grow: 1;
}

.sorting {
    display: flex;
    align-items: baseline;
    width: 10%;
}
.sorting > * {
    background-color: transparent;
    flex-grow: 3;
}

.sorting > p {
    cursor: pointer;
}

.sorting > p:active {
    font-weight: bold;
}

.repositories > div {
    background-color: transparent;
}

div {
    background-color: transparent;
}

.page-nums {
    margin: 0 auto;
    width: fit-content;
}

.page-nums > ul {
    display: flex;
    flex-shrink: 1;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.page-nums > ul > li {
    flex-shrink: 1;
    margin: 0 auto;
    cursor: pointer;
}