#tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    /*border: 1px solid #fff;*/
    border-radius: 0px 25px 0px 25px;
    background-color: rgba(255, 4, 255, 0.3);
    width: 90vw;
    margin: 0 auto;
    padding: 2em 1em 2em 1em;
    
}

#tabs > div {
    cursor: pointer;
    flex-grow: 3;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    background-color: transparent;
}


